

.contador{
  
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contadordos{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.time-contain{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin: 0.5rem;
}

.title{
 text-transform: uppercase;
 color: white;
 margin-bottom: 1rem;
 font-size: 15px;
 font-weight: 600;
}

.number{
 color: white;
 padding: 1rem 2rem;
 background-color: rgb(10, 49, 10);
 font-size: 20px;
 position: relative;
}

.time-contain:nth-of-type(3) .number::after {
    display: none;
}

.number::after{
 content: "";
 color: white;
 font-size: inherit;
 position: absolute;
 top: 50%;
 right: -6.5rem;
 line-height: 80px;
 height: 80px;
 transform: translate(-50%, -50%);
}

